.searchBar {
    display: flex;
    justify-content: center;
    height: 30px;
    column-gap: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 6px;
    width: 100px;
}